<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
  <title>reflectionsNOMA</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <!-- p5.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.dom.min.js"></script>


  <!-- tracking.js -->
  <script src="js/libraries/build/tracking.js"></script>
  <script src="js/libraries/build/data/face-min.js"></script>
  <script src="js/libraries/src/alignment/training/Landmarks.js"></script>
  <script src="js/libraries/src/alignment/training/Regressor.js"></script>

  <!-- particle for David -->
  <script src="js/particle.js"></script>

  <!-- style -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="container">
    <div class="heading">
      <h1>Digital Reflections</h1>
      <p>Students in <em>Creative Coding</em> manipulate webcam pixel data using Javascript to create algorithmic reflections of our analog world. Projects ranged from face tracking games, to abstract pixel mirrors, to photobooth-style video capture. To view a student's effect, click a button below.</p>
    </div>
    <div class="buttonBar">
      {% for item in site.data.samplelist.docs %}
        <a href="{{site.baseurl}}{{ item.url }}"><button type="button" class="btn {% if item.url == page.url %}btn-primary{% else %}btn-secondary{% endif %}">{{ item.title }}</button></a>
      {% endfor %}
    </div>
    <hr>
    <h3 id="nameDiv"></h3>
  </div>

  <!-- page scripts -->
  {% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script src='{{site.baseurl}}/js/{{ js_file }}.js' type="text/javascript"></script>
  {% endfor %}
  {% endif %}

</body>

</html>
